@using Productify.Domain;
@model List<Product>

<h1>Product List</h1>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Price</th>
                <th>Brand Name</th>
                <th>Stock Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Type</td>
                        <td>@product.Price</td>
                        <td>@product.BrandName</td>
                        <td>@product.StockCount</td>
                    </tr>
            }
        </tbody>
    </table>
</div>
